<h1><%= @article.title %><%= link_to "âœ’ï¸", edit_path%>
  <%= link_to "ðŸ—‘ï¸", article_path(@article), data: { turbo_method: :delete,
  turbo_confirm: "are you sure?"} %></h1>
<p><%= @article.content %></p>
